<%= provide(:title, @list.title) %>
<div class="listseditPage">
  <div class="container">
    <%= form_with model: @list, url: list_path , html: { class: 'listsForm' } do |f| %>
      <%= f.label :title, "List Title" %> <span>(1〜20 characters)</span>
      <%= f.text_field :title, class: "form-control listName", autocomplete: "off"%>
      <div class="text-center"><%= f.submit "Update", class: "submitBtn" %></div>
    <% end %>
  </div>
</div>