<%= provide(:title, "Tasklist") %>
<div class="topPage">
  <div class="listsWrapper">
    <% @lists.each do |list| %>
      <div class="lists">
        <div class="lists_header">
          <h2 class="lists_header_title"><%= list.title %></h2>
          <div class="lists_header_action">
            <%= link_to content_tag(:i, '', class: 'fas fa-trash'), list, method: :delete, data: {confirm: "Are you sure to delete?"} %>
            <%= link_to content_tag(:i, '', class: 'fas fa-pen'), edit_list_path(list) %>
          </div>
        </div>
        <div class="cardsWrapper">
          <% list.cards.each do |card| %>
            <%= link_to list_card_path(list, card), class: "cardsDetail_link" do %>
              <div class="cards">
                <h3 class="cards_title"><%= card.title %></h3>
              </div>
            <% end %>
          <% end %>
          <div class="addCards">
            <i class="far fa-plus-square"></i>
            <%= link_to "New Card", new_list_card_path(list), class: "addCards_link" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

