<%= provide(:title, "Edit Your Account") %>
<div class="usereditPage">
  <div class="titleArea">
    <h2>Edit Your Account</h2>
  </div>
  <div class='container'>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: "mt-5, usereditForm"}) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Password Confirmation" %>
        <i> (More than <%= @minimum_password_length %> letters)</i><br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :current_password %> <br/>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>
      <div class="text-center">
        <%= f.submit "Update", class: "btn submitBtn" %>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to "Destroy", registration_path(resource_name), method: :delete, class: "btn destroyBtn", data: {confirm: "You sure?"} %>
  </div>
</div>
