<%= provide(:title, "Sign Up") %>
<div class="signupPage">
  <div class="titleArea">
    <h1>Sign Up</h1>
  </div>
  <div class='container'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "mt-5, signupForm"}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", autocomplete: "email" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <i> (More than <%= @minimum_password_length %> letters)</i><br/>
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="text-center">
        <%= f.submit "Create Your Account", class: "btn submitBtn" %>
      </div>
    <% end %>
  </div>
</div>