<% if resource.errors.any? %>
  <div id="error_explanation">
    <ol class="list-style">
      <h2>Error!</h2>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ol>
  </div>
<% end %>
