<%= provide(:title, "Login") %>
<div class='signinPage'>
  <div class='container'>
    <h2 class="title">Login</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email" %>
      </div>
      <div class="form-group">
        <%= f.label :password %><br/>
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
      </div>
      <br/>
      <% if devise_mapping.rememberable? %>
        <div class="form-group text-center">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Remember Me?" %>
        </div>
      <% end %>
      <div class="form-group text-center">
        <%= f.submit "Login", class: "loginBtn" %>
      </div>
    <% end %>
    <br/>
    <div class="text-center"><%= render "devise/shared/links" %></div>
  </div>
</div>