<%= provide(:title, @card.title) %>
<div class="cardseditPage">
  <div class='container'>
    <%= form_with model: @card, url: list_card_path , html: { class: 'cardseditForm' } do |f| %>
      <div class="cardseditForm_title">
        <%= f.label :title, "Card Title" %> <span>(1〜20 characters)</span>
        <%= f.text_field :title, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="cardseditForm_memo">
        <%= f.label :memo %> <span>(1〜200 characters)</span>
        <%= f.text_area :memo, class: "form-control" %>
      </div>
      <div class="text-center"><%= f.submit "Update", class: "submitBtn" %></div>
    <% end %>
  </div>
</div>