<%= provide(:title, "Create New Card") %>
<div class="cardsnewPgae">
  <div class='container'>
    <%= form_with model: @card, url: list_cards_path, html: { class: 'cardsnewForm' } do |f| %>
      <%= f.hidden_field :list_id, value: @list.id %>
      <div class="cardsnewForm_title">
        <%= f.label :title, "Card Title" %> <span>(1〜20 characters)</span>
        <%= f.text_field :title, autofocus: true, autocomplete: "off", class: "form-control" %>
      </div>
      <div class="cardsnewForm_memo">
        <%= f.label :memo %>
        <%= f.text_area :memo, autofocus: true, class: "form-control" %>
        <div class="text-center"><%= f.submit "Create", class: "submitBtn" %></div>
      </div>
    <% end %>
  </div>
</div>