<%= provide(:title, @card.title) %>
<div class='cardsdetailPage'>
  <div class="container">
    <div class="cardsContents">
      <div class="cardsContents_title">
        <div>Card Title</div>
        <h2><%= @card.title %></h2>
      </div>
      <div class="cardsContents_memo">
        <div>Memo</div>
        <div><%= @card.memo %></div>
      </div>
      <div class="cardsContents_btnArea">
        <%= link_to 'Edit', edit_list_card_path(@card.list, @card), class: "edit_btn" %>
        <%= link_to 'Delete', list_card_path(@card.list, @card), class: "delete_btn", method: :delete, data: { confirm: "Are you sure to delete?" } %>
      </div>
    </div>
  </div>
</div>