.topPage {
  min-height: 93vh;
  padding-top: 30px;
  background: #e3e3e3;
  overflow-x: scroll;
  .listsWrapper {
    display: flex;
    height: 100%;
    align-items: baseline;
    .lists {
      position: relative;
      background: #ffc4c4;
      padding: 10px;
      margin-left: 20px;
      min-width: 250px;
      &:last-child {
        margin-right: 20px;
      }
      &_header {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_title {
          font-size: 20px;
          margin: 0;
        }
        &_action {
          .fa-pen, .fa-trash {
            font-size: 18px;
            color: #8c8c8c;
          }
          .fa-trash {
            margin-right: 10px;
          }
        }
      }
      .cardsWrapper {
        overflow-y: scroll;
        max-height: 76vh;
        .cardsDetail_link {
          text-decoration: none;
          color: #323232;
        }
        .cards {
          margin-bottom: 10px;
          padding: 10px;
          background-color: #f9e8e8;
          &_title {
            font-size: 17px;
          }
          &_detail {
            display: inline;
          }
        }
        .addCards {
          color: #8c8c8c;
          &_link {
            color: #8c8c8c;
          }
        }
      }
    }
  }
}
