<header class="header">
  <nav class="nav">
    <ul class="header_menu">
      <li class="nav-link">
        <%= link_to current_user.name, edit_user_registration_path %>
      </li>

      <li class="header_menu_title">
        <%= link_to "#{current_user.name}'s Tasklist", root_path, class: "nav-link" %></li>
      <li>
        <ul class="header_menu_inner">
          <li><%= link_to "Create List", new_list_path, class: "nav-link listNew" %></li>
          <li><%= link_to "Logout", destroy_user_session_path, class: "nav-link", method: :delete %></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>